@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    font-family: "Roboto" ,sans-serif;
    margin: 0;
    padding: 0;
}

nav ul li{
    
    font-size: 18px;
    color: #e5e7e5;
    
    
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #e5e7e5;
}
nav {
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 30px 0%;
    
}
.header{
    
    padding: 0 10%;
    background-color: #1F2937;

    
}
.logo{
    color: #e5e7e5;
    font-size: 24px ;
    color: #f9faf8;
    font-weight: bold;

}
.text-box{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
 
.responsive{
    width: 35%;
    height: auto;
    
    
    
}
.text{
    width: 50%;
    height: auto;
}

.text h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
    
    
    
}
.text p{
    font-size: 18px;
    color: #e5e7e5;
    
}

.text-box button{
    display: inline-block;
    text-decoration: none;
    color: #e5e7e5;
    background-color: #3882F6;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 8px;
}
img{
    margin-bottom: 20px;
    margin-right: 18px;
    
}



.info h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 38px;
    color: #1F2937;

    

}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    text-align: center;
    
}
img{
    width: 70%;
    height: auto;
}
.text-second{
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.quote{
    background-color: #e5e7eb;
    padding: 5%;
    margin-top: 7%;
}

.main-quote{
    font-size: 30px;
    font-style: italic;
    color:#1F2937;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center
}
.author{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bolder;
    padding-right: 30%;
}

    



